:root {
	--accent-color: #00ffa1;
	--secondary-color: #0e0e0e;
	--faded-accent-color: #3d554c;
}

.d-cgpt-tab {
	
}

.d-cgpt-tab > a > span {
	border: unset !important;
    background-color: unset !important;
}

.d-cgpt-tab > a.active > span {
	border: 2px solid var(--accent-color) !important;
    background-color: var(--secondary-color) !important;
}

.d-cgpt-tab > a > span:hover {
	background-color: rgb(var(--color-polar)) !important; 
}

.d-cgpt-tab > a.active > span span {
	color: var(--accent-color) !important;
}

.d-cgpt-prompt {
	position: fixed;
	bottom: 0;
	height: 90px;
	width: 100%;
	z-index: 1000;
	transition: 0.3s;
}

.d-cgpt-prompt > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 700px;
    margin: auto;
	background: rgb(var(--color-snow));
    border: 2px solid rgb(var(--color-swan));
	border-radius: 16px;
	padding: 0 20px;
	display: flex;
    align-items: center;
    column-gap: 30px;
}

.d-cgpt-prompt > div > input {
	width: 100%;
	height: 50px;
	background-color: unset;
    border-color: white;
    border: unset;
    border-bottom: 1px solid white;
    border-radius: unset;
	color: rgb(var(--color-eel));
	padding: 0 10px;
}

.d-cgpt-prompt > div > button {
	height: 40px;
	border: 1px solid rgb(var(--color-macaw));
	border-radius: 5px;
	padding: 0 10px;
	background-color: rgb(var(--color-macaw));
	color: white;
	cursor: pointer;
}

.d-cgpt-prompt-icon {
	cursor: pointer;
}

.d-cgpt-prompt > div > button:hover, .d-cgpt-prompt-icon:hover {
	opacity: 0.8;
}

.d-cgpt-prompt > div > img:first-child {
	width: 30px;
}

.d-cgpt-prompt > div > img:last-child {
	width: 20px;
	filter: invert(1);
}

.d-cgpt-explain-button-wrapper {
	display: flex;
    align-items: center;
    column-gap: 15px;
}

.d-cgpt-explain-button-enabled {
	--web-ui_button-background-color: var(--secondary-color) !important;
    --web-ui_button-border-color: var(--accent-color) !important;
    --web-ui_button-color: var(--accent-color) !important;
}

.d-cgpt-explain-button-disabled {
    --__internal__background-color-disabled: var(--web-ui_button-background-color-disabled, rgb(var(--color-swan))) !important;
    --__internal__background-color: var(--web-ui_button-background-color-disabled, rgb(var(--color-swan))) !important;
	--__internal__color-disabled: var(--web-ui_button-color-disabled, rgb(var(--color-hare))) !important;
	--__internal__color: var(--web-ui_button-color-disabled, rgb(var(--color-hare))) !important;
	--__internal__border-color: unset !important;
	color: var(--__internal__color-disabled) !important;
	transform: translateY(var(--__internal__lip-width)) translateZ(0);
	outline: none;
	cursor: default !important;
	background: none;
	border-color: transparent;
	border-radius: var(--__internal__border-radius);
    border-style: solid;
    border-width: 0 0 var(--__internal__lip-width);
	pointer-events: none !important;
}

.d-cgpt-explain-area-wrapper {
	display: flex !important;
    align-items: center;
    column-gap: 50px;

}

.d-cgpt-explain-area {
	width: 30%;
	border: 1px solid rgb(var(--color-swan));
	border-radius: 16px;
	padding: 20px;
	min-height: 400px;
}

.d-cgpt-explain-area > div {
	padding: 10px 25px;
}

.d-cgpt-explain-header {

}

.d-cgpt-explain-header > h3 {
	font-size: 25px;
}

.d-cgpt-explain-content {
	text-align: left;
}

.d-cgpt-speech-bubble {
	position: absolute;
    top: -50px;
    z-index: 10;
    width: 100%;
}

.d-cgpt-speech-bubble > div {
	background: rgb(var(--color-snow));
    border: 2px solid rgb(var(--color-swan));
	border-radius: 16px;
	padding: 0 20px;
	margin: auto;
	max-width: 600px;
	position: relative;
}

.d-cgpt-speech-bubble textarea {
	width: 100%;
	height: 60px;
	background-color: unset;
    border-color: white;
    border: unset;
    border-radius: unset;
	color: rgb(var(--color-eel));
	padding: 10px;
}

.d-cgpt-speech-bubble-tip {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(var(--color-swan));
	transform: rotate(180deg);
    top: unset;
    left: unset;
    right: 58px;
}