:root {
	--d-cgpt-accent-color: #00ffa1;
	--d-cgpt-secondary-color: #0e0e0e;
	--d-cgpt-faded-accent-color: #3d554c;
}

.d-cgpt-tab {
	
}

.d-cgpt-tab > a > span {
	border: unset !important;
    background-color: unset !important;
	border-radius: 12px !important;
}

.d-cgpt-tab > a.active > span {
	border: 2px solid var(--d-cgpt-accent-color) !important;
    background-color: var(--d-cgpt-secondary-color) !important;
}

.d-cgpt-tab > a > span:hover {
	background-color: rgb(var(--color-polar)) !important; 
}

.d-cgpt-tab > a.active > span span {
	color: var(--d-cgpt-accent-color) !important;
}

.d-cgpt-prompt {
	position: fixed;
	bottom: 0;
	height: 90px;
	width: 100%;
	z-index: 1000;
	transition: 0.3s;
}

.d-cgpt-prompt > div {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	max-width: 700px;
    margin: auto;
	background: rgb(var(--color-snow));
    border: 2px solid rgb(var(--color-swan));
	border-radius: 16px;
	padding: 0 20px;
	display: flex;
    align-items: center;
    column-gap: 30px;
}

.d-cgpt-prompt > div > input {
	width: 100%;
	height: 50px;
	background-color: unset;
    border-color: white;
    border: unset;
    border-bottom: 1px solid white;
    border-radius: unset;
	color: rgb(var(--color-eel));
	padding: 0 10px;
}

.d-cgpt-prompt > div > button {
	height: 40px;
	border: 1px solid rgb(var(--color-macaw));
	border-radius: 5px;
	padding: 0 10px;
	background-color: rgb(var(--color-macaw));
	color: white;
	cursor: pointer;
}

.d-cgpt-prompt-icon {
	cursor: pointer;
}

.d-cgpt-prompt > div > button:hover, .d-cgpt-prompt-icon:hover {
	opacity: 0.8;
}

.d-cgpt-prompt > div > img:first-child {
	width: 30px;
}

.d-cgpt-prompt > div > img:last-child {
	width: 20px;
}

.d-cgpt-explain-button-wrapper {
	display: flex;
    align-items: center;
    column-gap: 15px;
}

.d-cgpt-explain-button-enabled {
	--web-ui_button-background-color: var(--d-cgpt-secondary-color) !important;
	--__internal__background-color: var(--d-cgpt-secondary-color) !important;
	--__internal__background-color-disabled: var(--d-cgpt-secondary-color) !important;
	--web-ui_button-border-color: var(--d-cgpt-accent-color) !important;
	--__internal__border-color: var(--d-cgpt-accent-color) !important;
	color: var(--d-cgpt-accent-color) !important;
	background: var(--d-cgpt-secondary-color) !important;
	background-color: var(--d-cgpt-secondary-color) !important;
	border-color: var(--d-cgpt-accent-color) !important;
	cursor: pointer !important;
}

.d-cgpt-explain-button-enabled:hover {
	opacity: 0.8;
}

.d-cgpt-explain-button-disabled {
    --__internal__background-color-disabled: var(--web-ui_button-background-color-disabled, rgb(var(--color-swan))) !important;
    --__internal__background-color: var(--web-ui_button-background-color-disabled, rgb(var(--color-swan))) !important;
	--__internal__color-disabled: var(--web-ui_button-color-disabled, rgb(var(--color-hare))) !important;
	--__internal__color: var(--web-ui_button-color-disabled, rgb(var(--color-hare))) !important;
	--__internal__border-color: unset !important;
	color: var(--__internal__color-disabled) !important;
	transform: translateY(var(--__internal__lip-width)) translateZ(0);
	outline: none;
	cursor: default !important;
	background: none;
	border-color: transparent;
	border-radius: var(--__internal__border-radius);
    border-style: solid;
    border-width: 0 0 var(--__internal__lip-width);
	pointer-events: none !important;
}

.d-cgpt-explain-area-wrapper {
	display: flex !important;
    align-items: center;
    column-gap: 50px;

}

.d-cgpt-explain-area {
	width: 30%;
	border: 1px solid rgb(var(--color-swan));
	background-color: rgb(var(--color-snow));
	border-radius: 16px;
	padding: 20px;
	min-height: 400px;
	position: relative;
}

.d-cgpt-explain-area-closed {
	right: -380px !important;
}

.d-cgpt-explain-area > div {
	padding: 10px 25px;
}

.d-cgpt-explain-bottom {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    width: fit-content;
    margin: auto;
	display: flex;
    align-items: center;
    column-gap: 10px;
}

.d-cgpt-explain-bottom > div {
    border-radius: 16px;
    padding: 5px 15px !important;
    background-color: var(--d-cgpt-faded-accent-color);
    border: 1px solid var(--d-cgpt-accent-color);
    color: var(--d-cgpt-accent-color);
	width: fit-content;
}

.d-cgpt-explain-bottom > div > span {
	font-size: 12px;
	font-weight: bold;
}

.d-cgpt-explain-tokens {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.d-cgpt-explain-tokens > img {
    width: 14px;
}

.d-cgpt-explain-header {

}

.d-cgpt-explain-header > h3 {
	font-size: 25px;
	cursor: text;
}

.d-cgpt-explain-content {
	text-align: left;
	white-space: pre-wrap;
	cursor: text;
}

.cursor {
	display: inline-block;
	width: 8px;
	background-color: rgb(var(--color-black-text));
    color: rgb(var(--color-snow));
	margin-left: 2px;
	animation: blink 0.8s steps(1) infinite;
  }

  @keyframes blink {
	50% { opacity: 0; }
  }

.d-cgpt-explain-area-closed .d-cgpt-explain-close > img {
	transform: rotate(-180deg) !important;
}

.d-cgpt-explain-close {
	display: none;
	position: absolute;
    left: -42px;
    top: 0;
    bottom: 0;
    align-items: center;
    padding: unset;
	cursor: pointer;
}

.d-cgpt-explain-close:hover {
	opacity: 0.8;
}

.d-cgpt-explain-close > img {
    width: 30px;
    border-radius: 50%;
    padding: 2px;
}

.d-cgpt-speech-bubble {
	position: absolute;
    z-index: 10;
    width: 100%;
}

.d-cgpt-speech-bubble > div {
	background: rgb(var(--color-snow));
    border: 2px solid rgb(var(--color-swan));
	border-radius: 16px;
	padding: 0 20px;
	margin: auto;
	max-width: 600px;
	position: relative;
}

.d-cgpt-speech-bubble textarea {
	width: 100%;
	height: 60px;
	background-color: unset;
    border-color: white;
    border: unset;
    border-radius: unset;
	color: rgb(var(--color-eel));
	padding: 10px;
}

.d-cgpt-speech-bubble-tip {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid rgb(var(--color-swan));
	transform: rotate(180deg);
    top: unset;
    left: unset;
    right: 58px;
}


/* screen until 920px */

@media screen and (max-width: 1050px) {
	.d-cgpt-explain-area {
		position: absolute;
		background-color: rgb(var(--color-snow));
		height: 85%;
		right: 0;
		width: 400px;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		padding: 20px 0px;
		transition: 0.3s;
	}

	.d-cgpt-explain-close {
		display: flex;
	}
}